@model OrangeProjectMVC.Models.voter_user

@{
    ViewBag.Title = "الدوائر الانتخابية";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    var x = Session["c"].ToString();
}

<style>
    body {
        background-color: #f1f1f1 !important;
    }
</style>

<h2 style="text-align: center; margin-top: 1em; font-family: cairo;">دائرتك</h2>

<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Dynamic Card for User Circle, centered at the top -->
        <div class="col-md-4 my-2">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <img src="~/img/@x" class="card-img-top" alt="Ajloun">
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-family: cairo;">@ViewBag.Circle</h5>
                    <p class="card-text" style="font-family: cairo;">أنت تتبع لدائرة @ViewBag.Circle</p>
                    <p class="card-text" style="font-family: cairo;">اضغط استمرار للانتقال الى القوائم.</p>
                    @Html.ActionLink("استمرار", "ListsType", "User", new { area = "" }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>

    <h2 id="toggleCards" style="text-align: center; margin:1em 0 1em 0; font-family: cairo; cursor: pointer;">بقية دوائر المملكة</h2>

    <!-- Additional cards container -->
   <div class="row justify-content-center" id="additionalCards" style="margin-bottom: 2em;">
    <!-- Card 1 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://factjo.com/AllNewImages/large/2023_08_26_06_43_28.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">بدو الشمال</h5>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://s.france24.com/media/display/6ce6dff6-f375-11e8-9826-005056a964fe/w:1280/p:16x9/18122016-karak-wikipedia-m_0.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">بدو الوسط</h5>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://alghad.com/Content/Upload/Large/7202318194835982349552.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">بدو الجنوب</h5>
            </div>
        </div>
    </div>

    <!-- Card 4 -->
    @if (ViewBag.Circle != "عجلون")
    {
        <div class="col-md-4 my-2 d-flex align-items-stretch">
            <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
                <img src="https://www.hala.jo/wp-content/uploads/2022/08/%D9%82%D9%84%D8%B9%D8%A9-%D8%B9%D8%AC%D9%84%D9%88%D9%86.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
                <div class="card-body text-center d-flex flex-column justify-content-end">
                    <h5 class="card-title" style="font-family: cairo;">عجلون</h5>
                </div>
            </div>
        </div>
    }

    <!-- Card 5 -->
    @if (ViewBag.Circle != "اربد الاولى")
    {
        <div class="col-md-4 my-2 d-flex align-items-stretch">
            <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
                <img src="https://www.assawsana.com/portal/image/imgid526254.jpg?" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
                <div class="card-body text-center d-flex flex-column justify-content-end">
                    <h5 class="card-title" style="font-family: cairo;">اربد الاولى</h5>
                </div>
            </div>
        </div>
    }

    <!-- Card 6 -->
    @if (ViewBag.Circle != "اربد الثانية")
    {
        <div class="col-md-4 my-2 d-flex align-items-stretch">
            <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
                <img src="https://static.sayidaty.net/styles/900_scale/public/2022-01/45080.jpeg.webp" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
                <div class="card-body text-center d-flex flex-column justify-content-end">
                    <h5 class="card-title" style="font-family: cairo;">اربد الثانية</h5>
                </div>
            </div>
        </div>
    }

    <!-- Card 7 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/f1/aa/33/the-town-madaba-is-well.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">مادبا</h5>
            </div>
        </div>
    </div>

    <!-- Card 8 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Mafraq_Tank_Circle.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">المفرق</h5>
            </div>
        </div>
    </div>

    <!-- Card 9 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://cdn.alweb.com/thumbs/jordanencyclopedia/article/fit710x532/%D9%85%D8%AD%D8%A7%D9%81%D8%B8%D8%A9-%D8%AC%D8%B1%D8%B4-%D9%83%D9%84-%D9%85%D8%A7-%D9%8A%D9%87%D9%85%D9%83-%D9%88%D8%A3%D9%83%D8%AB%D8%B1.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">جرش</h5>
            </div>
        </div>
    </div>

    <!-- Card 10 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://cdn.alweb.com/thumbs/jordanencyclopedia/article/fit710x532/%D9%85%D8%AD%D8%A7%D9%81%D8%B8%D8%A9-%D9%85%D8%B9%D8%A7%D9%86-%D8%A7%D9%84%D9%85%D9%88%D9%82%D8%B9-%D9%88%D8%A7%D9%84%D8%B3%D9%83%D8%A7%D9%86-%D9%88%D8%A3%D9%83%D8%AB%D8%B1.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">معان</h5>
            </div>
        </div>
    </div>

    <!-- Card 11 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://blog.sawwahtravel.com/wp-content/uploads/2021/12/WhatsApp-Image-2021-12-20-at-3.01.25-PM.jpeg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">عمان الاولى</h5>
            </div>
        </div>
    </div>

    <!-- Card 12 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://blog.sawwahtravel.com/wp-content/uploads/2021/12/WhatsApp-Image-2021-12-20-at-3.01.25-PM.jpeg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">عمان الثانية</h5>
            </div>
        </div>
    </div>

    <!-- Card 13 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://blog.sawwahtravel.com/wp-content/uploads/2021/12/WhatsApp-Image-2021-12-20-at-3.01.25-PM.jpeg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">عمان الثالثة</h5>
            </div>
        </div>
    </div>

    <!-- Card 14 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Tafila_Tophel.JPG" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">الطفيلة</h5>
            </div>
        </div>
    </div>

    <!-- Card 15 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://www.climamed.eu/wp-content/uploads/2021/03/Al-Salt-Cover.-Sami-tadros-jpeg-copy-1024x636.jpeg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">الكرك</h5>
            </div>
        </div>
    </div>

    <!-- Card 16 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://cdn.al-ain.com/lg/images/2019/5/26/62-141243-jordanian-aqaba-gate-history-4.jpeg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">العقبة</h5>
            </div>
        </div>
    </div>

    <!-- Card 17 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c0/%D9%85%D9%8A%D8%AF%D8%A7%D9%86_%D8%A7%D9%84%D8%AC%D9%8A%D8%B4_%D8%A7%D9%84%D8%B9%D8%B1%D8%A8%D9%8A_3.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">الزرقاء</h5>
            </div>
        </div>
    </div>

    <!-- Card 18 -->
    <div class="col-md-4 my-2 d-flex align-items-stretch">
        <div class="card shadow-2-strong flex-fill" style="border-radius: 1rem;">
            <img src="https://pbs.twimg.com/media/F7Lu-J7X0AAJeIt?format=jpg&name=large" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Card image 1">
            <div class="card-body text-center d-flex flex-column justify-content-end">
                <h5 class="card-title" style="font-family: cairo;">السلط</h5>
            </div>
        </div>
    </div>
</div>

</div>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#toggleCards").click(function () {
            $("#additionalCards").toggle(); // Toggle visibility of the additional cards
        });
    });
</script>*@
