@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}

<h2>Reset Password</h2>

@using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
{
    <div>
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" />
    </div>
    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" />
    </div>
    <div>
        <input type="submit" value="Reset Password" />
        <span>@ViewBag.id</span>
    </div>
}


