@{
    ViewBag.Title = "اعادة ضبط كلمة السر";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<section class="vh-100" style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5" style="font-size:large; font-family:cairo">اعادة تعيين كلمة المرور</h3>

                        @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
                        {
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" style="font-size:small" for="newPassword">كلمة المرور الجديدة</label>

                                <input type="password" id="newPassword" name="newPassword" class="form-control form-control-lg" />
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" style="font-size:small" for="confirmPassword">تأكيد كلمة المرور</label>
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control form-control-lg" />
                            </div>

                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="font-size:small; font-family:cairo;" type="submit">تأكيد</button>

                            <span>@ViewBag.id</span>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@if (ViewBag.Msg != null)
{
    <script>
        Toastify({
            text: "@ViewBag.Msg",
            duration: 3000, // Duration in milliseconds (3 seconds)
            close: true, // Show close button
            gravity: "top", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#FF0000", // Warning background color (orange)
            stopOnFocus: true, // Prevents dismissing of toast on hover
            onClick: function () { } // Callback after click
        }).showToast();
    </script>
}