@{
    ViewBag.Title = "عنّا";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!--About Section ======================-->
<section class="section-about about-1 py-60 py-lg-100 py-xxl-120" dir="rtl">
    <div class="container">
        <div class="d-flex flex-column gap-60 gap-lg-100 gap-xxl-120">
            <div class="row align-items-center g-60 gy-lg-0">
                <div class="col-lg-6">
                    <h6 class="subtitle lead text-primary mb-10 wow fadeInLeft" data-wow-duration="1.3s"></h6>
                    <div class="d-flex flex-column gap-20 mb-30">
                        <h3 class="mb-0 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration="1.3s" style="font-family:cairo;"> الهيئة المستقلة للانتخاب</h3>
                        <p class="mb-0 fs-5 fw-semibold wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1.3s">تأسست الهيئة المستقلة للانتخاب عام 2012 كجهة مستقلة تعنى بإدارة العملية الانتخابية والإشراف عليها دون تدخل أو تأثير من أي جهة. تعد الهيئة إحدى ثمرات الإصلاح السياسي في المملكة الأردنية الهاشمية بقيادة جلالة الملك عبدالله الثاني ابن الحسين، وتعبر عن استجابة المؤسسة الرسمية للمطالب الشعبية.</p>
                    </div>

                    <!-- author-info -->
                </div>
                <!-- col-6 -->
                <div class="col-lg-6 wow slideInRight" data-wow-duration="1.5s">
                    <div class="about-image">
                        <img src="@Url.Content("~/assets/images/about-image-1.jpg")" class="img-fluid" alt="about-image-1">
                    </div>
                </div>
                <!-- col-6 -->
            </div>
            <!-- row -->

        </div>
        <!-- d-flex -->
    </div>
    <!-- container -->
</section>
<!--About Section ======================-->
