
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="page landing-page">
    <!--About Section ======================-->
    <section class="section-about about-1 py-60 py-lg-100 py-xxl-120">
        <div class="container">
            <div class="row align-items-center g-60 gy-lg-0">
                <div class="col-lg-7 col-xxl-6">
                    <div class="d-flex flex-column gap-3">
                        <h6 class="subtitle lead text-primary wow fadeInLeft" data-wow-duration="1.3s">About us</h6>
                        <h2 class="mb-1 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration="1.3s">Guiding Principles for Community Betterment</h2>
                        <p class="mb-3 mb-lg-4 wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1.3s">To make sure all Citizen rights, you have to work together and make a better country for our child. So we have to take initiative proper way to ensure the all right and make the country better for living</p>
                        <ul class="about-lists list-unstyled mb-4 mb-lg-40 d-flex flex-column gap-3 wow fadeInLeft" data-wow-delay=".4s" data-wow-duration="1.3s">
                            <li class="d-flex gap-10 align-items-center fw-bold"> <span class="check-circle-icon"><svg width="24" height="24"><use xlink:href="#check-circle-icon"></use></svg></span>The biggest economic recovery plan in the history of America.</li>
                            <li class="d-flex gap-10 align-items-center fw-bold"> <span class="check-circle-icon"><svg width="24" height="24"><use xlink:href="#check-circle-icon"></use></svg></span>Millions of Americans gain the peace of mind of health insurance.</li>
                            <li class="d-flex gap-10 align-items-center fw-bold"> <span class="check-circle-icon"><svg width="24" height="24"><use xlink:href="#check-circle-icon"></use></svg></span>The biggest economic recovery plan in the history of America.</li>
                        </ul>
                        <div class="wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1.4s">
                            <a href="about-us-1.html" class="btn btn-primary">About Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xxl-6 wow slideInRight" data-wow-duration="1.5s">
                    <div class="about-image position-relative">
                        <img src="~/assets/images/about-image-2.jpg" class="img-fluid" alt="about-image-2">
                        <a href="https://www.youtube.com/watch?v=lfDZJqSrIuk" class="video-popup video-popup-style-5">
                            <span class="video-icon">
                                <svg width="33" height="41"><use xlink:href="#video-icon"></use></svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
